.add-new-post{
  a{
    color: white !important;
  }
}
.comment-show-article{
  .top-comment-show-article{
    border-bottom:2px solid #9ea3aa;
    li a{
      color:#33363B;
      font-size:18px;
    }
    .active{
      border-bottom:3px solid #D2691E;
      a{
        color:#D2691E;
      }
    }
  }
}
.custom-form-post{
  max-width: 800px !important;
}


.list-posts{
  i{
    width: 20px;
    text-align: center;
    font-weight: bold;
    &.fa-clock-o{
      width: 12px ;
    }
  }
  .post-image{
    display: block;
    background: #d4d7db;
    img{
      height: 350px;
    }
  }
  .caption{
    min-height: 195px;
    .post-title{
      text-decoration: none;
      color: black;
      font-size: 22px;
      font-weight: bold;
      display: block;
      transition: color  0.2s linear 0s;
    }
  }
  .post-title:hover {
    color: #BA0069;
  }
  .author{
    padding: 5px 5px 5px 0px;
  }
}

#post-show{
  .post-info{
    background: white;
  }
  .post-sidebar{
    .post-title{
      color: black;
      transition: color  0.2s linear 0s;
    }
    .post-title:hover {
      color: #BA0069;
    }
  }
}




