body{
  background: #eee;
}
a:hover{
  text-decoration: none;
}
time{
  font-style: italic;
  color: grey;
}
.jumbotron{
  min-height: 600px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar{
  .current-user-present{
    .navbar-brand{
      img{
        width: 50px;
        height: 50px;
        margin-top: -15px;
      }
    }
  }
}


#footer
{
  background:#33363B;
  position:relative;
  padding-bottom:20px;
  .top-footer{
    a{
      background:#EAEAEA;
      border-top:1px solid #DEDEDE;
      padding:15px 20px 0px 20px;
      border-radius:0px 0px 5px 5px;
    }
    p{
      text-align:center;
      margin-top: -6px;
    }
  }
}

